package sample;



.demo{
}

.logo{
  -fx-background-color: white, white;
  -fx-background-radius: 50;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -30;
  -fx-padding: -5;
  -fx-font-size: 0;
  -fx-image: url("images/movies_logo.png");
  -fx-background-size: stretch;
}
.find{
  -fx-background-color: white, white;
  -fx-background-radius: 50;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -30;
  -fx-padding: -5;
  -fx-font-size: 0;
  -fx-image: url("images/find.png");
  -fx-background-size: stretch;
}
.remove{
  -fx-background-color: #282828;
  -fx-background-radius: 40;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -30;
  -fx-padding: -5;
  -fx-font-size: 0;
  -fx-image: url("images/minus1234.png");
  -fx-background-size: stretch;
}
.add{
  -fx-background-color: #282828;
  -fx-background-radius: 40;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -30;
  -fx-padding: -5;
  -fx-font-size: 0;
  -fx-image: url("images/add1.png");
  -fx-background-size: stretch;
}
.toolbar{
-fx-background-color: #282828;
}
.all{
  -fx-background-color: #282828;
  -fx-background-radius: 40;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -30;
  -fx-padding: -5;
  -fx-font-size: 0;
  -fx-image: url("images/all.png");
  -fx-background-size: stretch;
}
.bin{
  -fx-background-radius: 40;
  -fx-background-insets: 0, 0;
  -fx-border-radius: 30;
  -fx-border-width: -60;
  -fx-padding: -20;
  -fx-font-size: 0;
  -fx-image: url("images/delete.png");
  -fx-background-size: stretch;
}
.btn{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.transparentBackground{
    -fx-background-color: transparent;
}
